@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
	--default-font-family: var(--font-geist-sans);
	--default-mono-font-family: var(--font-geist-mono);
}

html {
	scrollbar-gutter: stable;
}
